[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
pandas = "*"
selenium = "*"
requests = "*"
ipykernel = "*"
fastapi = {extras = ["all"], version = "*"}
pyarrow = "*"
tqdm = "*"
dataclasses = "*"
streamlit = "*"
stre = "*"

[dev-packages]

[requires]
python_version = "3.10"
